{% extends "base.html" %}


{% block content_title %}
    <div class="text-center">
      <h2> Платформа </h2>
    </div>
{% endblock %}


{% block content %}
<main>
      {% if course_list %}

      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
          <div class="col">
            <div class="card mb-4" style="margin-top: 1rem;">
            <div class="card-header">
              <h4 class="my-0 fw-normal">Запрос</h4>
            </div>

            <div class="card-body">
              <form action="{% url 'request_course' %}" method="post">
                {% csrf_token %}
              <ul class="list-unstyled mt-3 mb-4">
                <div class="input-group">
                  <span class="input-group-text">Описание курса:</span>
                   <label for="title"></label>
                        <input id="title" type="text" name="title" value="">
                    <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </ul>

              <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Запросить новый курс</button>
              </form>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="card mb-4" style="margin-top: 1rem;">
            <div class="card-header">
              <h4 class="my-0 fw-normal">Обучение</h4>
            </div>
            </div>
            {% for course_list_k in course_list %}
                    {% for course in course_list_k.courses %}
                      <div class="alert alert-info">
                        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
                            <li>
                              <a href="{{ course.get_absolute_url }}">{{ course.title }}</a> ({{course.author}})
                            </li>
                        </div>
                      </div>
                    {% endfor %}
            {% endfor %}
          </div>
        </div>
        </div>

      {% else %}
        <p>There are no courses in the catalog.</p>
      {% endif %}
    </main>


{% endblock %}
