{% extends "base.html" %}

{% block content_title %}
  <h2> About </h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="container">
  <p><strong>Author:</strong> <a href="{{ course.author.get_absolute_url }}">{{ course.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ course.summary }}</p>
  <p><strong>Added by:</strong> {{ course.added_by }}</p>
  <p><strong>Genre:</strong> {% for genre in course.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <form action="{% url 'participate_in_course' course_id=course.id %}" method="GET">
        <input type="submit" class="w-20 btn btn-lg btn-outline-primary" value="Participate in course">
    </form>

  <form action="{% url 'page_num' pk=course.id pn=1%}" method="GET">
        <input type="submit"  class="w-20 btn btn-lg btn-outline-primary" value="Next page">
    </form>

 </div>
</div>
{% endblock %}
