{% extends "base.html" %}

{% block content_title %}
  <h2> About </h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
          <h1>{{ page.course }}, {{ page.content }}, {{page.number}}</h1>

            <form action="{% url 'page_num' pk=page.course.id pn=next_page %}" method="GET">
                <input type="submit" class="w-20 btn btn-lg btn-outline-primary" value="Next page">
            </form>

            <form action="{% url 'page_num' pk=page.course.id pn=prev_page %}" method="GET">
                <input type="submit" class="w-20 btn btn-lg btn-outline-primary" value="Previous page">
            </form>

            {% if page.number == amount_of_pages %}
            <form action="{% url 'finish_course' course_id=page.course.id %}" method="GET">
                <input type="submit" class="w-20 btn btn-lg btn-outline-primary" value="Finish course">
            </form>
            {% endif %}

        </div>
    </div>

{% endblock %}
