{% extends "base.html" %}

{% block content_title %}
  <h2> About </h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
          <h1>{{ page.course }}, {{ page.content }}, {{page.number}}</h1>

            <form action="{% url 'page_num' pk=page.course.id pn=next_page %}" method="GET">
                <input type="submit" value="Next page">
            </form>

            <form action="{% url 'page_num' pk=page.course.id pn=prev_page %}" method="GET">
                <input type="submit" value="Previous page">
            </form>
        </div>
    </div>

{% endblock %}
